@model TENNIS_APP.Models.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video_JO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video_JO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            <iframe width="560"
                    height="315"
                    src="@Html.DisplayFor(model=> model.Source)"
                    frameborder="0"
                    allowfullscreen></iframe>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
